<form
	id="{{id}}"
	class="{{primaryClass}}-form{{#if additionalClasses}} {{additionalClasses}}{{/if}}"
	method="{{method}}"
	action="{{action}}"
	name="{{name}}">
	{{#block "content"}}
	{{/block}}
	<input type="submit" id="{{primaryClass}}-submit" value="{{submitText}}" />
</form>