		<form id="{{id}}" class="{{primaryClass}}-form{{#if additionalClasses}} {{additionalClasses}}{{/if}}">
			{{#block "content"}}
			{{/block}}
			<input type="submit" id="{{primaryClass}}-submit" value="{{submitText}}" />
		</form>