<ul class="globalnav__subnav">
						{{#each items}}
						<li class="globalnav__item{{#if subnav}} with-subnav{{/if}}">
							<a class="globalnav__link" href="{{#if ../grandparent}}/{{../grandparent}}{{/if}}/{{../parent}}/{{slug}}">- {{label}}
							</a>
							{{#if subnav}}
		        			{{#with subnav}}
		        			<input id="subnavToggle-{{@index}}" class="globalnav__subnav-toggle hidden" type="checkbox" />
									<label class="globalnav__subnav-button" for="subnavToggle-{{@index}}">+</label>
								{{> global/components/subnav parent=../slug grandparent=../../parent}}{{~!}}
							{{/with}}
							{{/if}}
						</li>
						{{/each}}
					</ul>