{{#embed "templates/page" data=pages.index additionalClasses="page-index"}}
{{#content "head" mode="append"}}
{{!-- append page specific head tags --}}
{{/content}}
{{#content "body" mode="append"}}
{{!-- page specific body content --}}

{{#embed "modules/section" name="hero" extras=extras}}
{{#content "contents" mode="append"}}
				<h1 class="section-headline hero-headline">{{data.h1}}</h1>
				<p class="section-intro hero-intro">{{data.hero.intro}}</p>
				<a class="section-cta hero-cta button" href="{{data.hero.cta.meta.url}}">{{data.hero.cta.value}}</a>
				<ul class="hero-solutions__list row">
					{{> modules/hero-solution-item
					icon="icon-accurate-inventory.svg"
					category="Accurate Inventory"
					class="accurate-inventory"
					blurb="Agent-less Autodiscovery to create accurate topology maps and automatically update your CMDB"
					link="#"}}
					{{> modules/hero-solution-item
					icon="icon-full-stack-correlation.svg"
					category="Full Stack Correlation"
					class="full-stack-correlation"
					blurb="Automated transactions to application to infra mapping to help you resolve IT problems in minutes"
					link="#"}}
					{{> modules/hero-solution-item
					icon="icon-ai.svg"
					category="AI"
					class="ai"
					blurb="Powerful ML to help you accurately predict and resolve complex issues"
					link="#"}}
				</ul>
{{/content}}
{{/embed}}

{{#embed "modules/section" name="success-stories"}}
{{#content "contents" mode="append"}}
<h2 class="success-stories__header">Trusted by Global Enterprises and Managed Service Providers</h2>
<ul class="row success-stories__list">
	{{> modules/homepage-success-stories-item
			logo="homepage_success-stories_broadcom.png"
			label="Broadcom"}}
	{{> modules/homepage-success-stories-item
			logo="homepage_success-stories_spxflow.png"
			label="SPXFlow"}}
	{{> modules/homepage-success-stories-item
			logo="homepage_success-stories_maxim.png"
			label="Maxim Integrated"}}
	{{> modules/homepage-success-stories-item
			logo="homepage_success-stories_bt.png"
			label="BT"}}
</ul>
<a class="button">More Case Studies</a>
{{/content}}
{{/embed}}

{{#embed "modules/section" name="how-fixstream-works" additionalClasses="section-has-arrow section-has-arrow-top"}}
{{#content "bleed" mode="append"}}
<h2 class="how-fixstream-works__header">How FixStream Works</h2>
{{/content}}
{{#content "contents" mode="append"}}
<div class="row how-fixstream-works__row">
	<div class="how-fixstream-works__copy">
		<p>FixStream helps you predict outages with 90%+ probability, and achieve MTTR in minutes, not hours and days.</p>
		<p>Enterprise lose revenues and profitability every day since they rely on domain-centric IT tools that don’t correlate data across the entire stack, forcing already overwhelmed IT Operations staff to manually process rapidly increasing amount of unstructured data.</p>
		<p>With FixStream you will gain unprecedented insights into your entire IT operations and automate many of the complex processes that are holding your team back.</p>
		<p>FixStream AIOps+ platform delivers superior prediction accuracy by first creating an accurate inventory, by correlating millions of data points across all domains, and then by applying powerful machine learning across the entire stack.</p>
	</div>
	<div class="how-fixstream-works__image">
		<picture class="how-fixstream-works__sources">
			{{!-- Mobile first source up to ##rems --}}
				{{!-- Beyond triggers 2nd source --}}
			<source media="(max-width: 40rem)"
							srcset="{{@root.meta.themeURI}}/img/homepage_how-fixstream-works_small_2x.jpg 2x,
							{{@root.meta.themeURI}}/img/homepage_how-fixstream-works_small_1x.jpg 1x"
							sizes="100vw" />

			<source media="(max-width: 60rem)"
							srcset="{{@root.meta.themeURI}}/img/homepage_how-fixstream-works_small_2x.jpg 2x,
							{{@root.meta.themeURI}}/img/homepage_how-fixstream-works_small_1x.jpg 1x"
							sizes="48vw" />

			{{!-- Largest source up to ##rems --}}
				{{!-- All larger viewports --}}
			<source srcset="{{@root.meta.themeURI}}/img/homepage_how-fixstream-works_large_2x.jpg 2x,
			{{@root.meta.themeURI}}/img/homepage_how-fixstream-works_large_1x.jpg 1x"
							{{!-- When this query resolves true, the column has 58% width in sass --}}
							sizes="64vw" />
			<img src="https://via.placeholder.com/300x600" alt="temp image" />
		</picture>
	</div>
</div>
{{/content}}
{{/embed}}

{{#embed "modules/section" name="customer-testimonials" additionalClasses="section-has-arrow section-has-arrow-top section-has-arrow-bottom"}}
{{#content "contents" mode="append"}}
<ul class="customer-testimonials__list">
	{{> modules/testimonial
			name="Mike Fisher"
			title="SVP, Global IT Operations"
			quote="I’ve chosen FixStream to get a single view of business critical applications and infrastructure end to end. I’ve not seen another operations platform with this breadth of visibility across all domains."}}
	{{> modules/testimonial
			name="Andy Nallappam"
			title="Global CIO, Broadcom"
			quote="We looked for tools that would automate the IT asset discovery process with 100% accuracy, and we couldn’t find any, till we met FixStream. We have deployed now FixStream across our 11 data-centers, and we plan to use it across all companies we acquire in the future."}}
</ul>
{{/content}}
{{/embed}}

{{#embed "modules/section" name="featured-resources"}}
{{#content "contents" mode="append"}}
<h2>Resources</h2>
<ul class="featured-resources__list">
	{{> modules/homepage-resource-item id=195}}
	{{> modules/homepage-resource-item id=192}}
	{{> modules/homepage-resource-item id=39}}
	{{> modules/homepage-resource-item id=198}}
	{{!-- <li class="featured-resources__item">
		<h3 class="featured-resources__header">AIOps for Dummies</h3>
		<img class="featured-resources__img" src="https://via.placeholder.com/420x500" />
		<a class="button featured-resources__link" href="/">Download</a>
	</li>
	<li class="featured-resources__item">
		<h3 class="featured-resources__header">AIOps Whitepaper</h3>
		<img class="featured-resources__img" src="https://via.placeholder.com/420x500" />
		<a class="button featured-resources__link" href="/">Download</a>
	</li>
	<li class="featured-resources__item">
		<h3 class="featured-resources__header">Latest Blog</h3>
		<img class="featured-resources__img" src="https://via.placeholder.com/420x280" />
		<p class="featured-resources__copy">Getting a Handle on AIOps And Learning What These Platforms and Solutions Can Do for You</p>
		<a class="button featured-resources__link" href="/">Read Blog</a>
	</li>
	<li class="featured-resources__item">
		<h3 class="featured-resources__header">Hear From Our CEO</h3>
		<img class="featured-resources__img" src="https://via.placeholder.com/420x420" />
		<span class="featured-resources__copy"><strong>Sameer Padhye</strong></span>
		<span class="featured-resources__copy">Founder & CEO</span>
		<a class="button featured-resources__link" href="/">Learn More</a>
	</li> --}}
</ul>
{{/content}}
{{/embed}}

{{/content}}
{{/embed}}