<footer class="globalfooter">
		<nav class="globalfooter__nav">
			<ul class="globalfooter__nav-list">
				{{#each pages}}
    			{{#if this.nav}}
				<li class="globalfooter__nav-item">
					<a class="globalfooter__nav-link" href="/{{this.slug}}">{{this.nav}}</a>
					{{#if this.subpages}}
						{{> global/components/footer-subnav
								parent=this.slug
								index=@index}}{{~!}}
					{{/if}}
				</li>
				{{/if}}
				{{/each}}
			</ul>
		</nav>
		<ul class="globalfooter__social">
			<li class="globalfooter__social-item"><span class="icon-twitter"></span></li>
			<li class="globalfooter__social-item"><span class="icon-linkedin"></span></li>
			<li class="globalfooter__social-item"><span class="icon-youtube2"></span></li>
		</ul>
		<small class="globalfooter__copyright">© Copyright <?php echo copyright_year(); ?> | <a href="#">Terms of Use</a> | <a href="">Privacy Policy</a></small>
	</footer>
	{{#if data.uniqueJS}}
	<script type="text/javascript" src="{{@root.meta.themeURI}}/js/{{#if parentPath}}{{parentPath}}{{/if}}{{data.name}}.js"></script>
	{{/if}}
	<?php wp_footer(); ?>
	<script type="text/javascript" src='https://crm.zoho.com/crm/javascript/zcga.js'></script>