<footer class="globalfooter">
		<ul class="globalfooter__social">
			<li class="globalfooter__social-item"><span class="icon-facebook2"></span></li>
			<li class="globalfooter__social-item"><span class="icon-youtube"></span></li>
			<li class="globalfooter__social-item"><span class="icon-linkedin"></span></li>
		</ul>
		<nav class="globalfooter__nav">
			<ul class="globalfooter__nav-list">
				{{#each pages}}
    			{{#if this.nav}}
				<li class="globalfooter__nav-item"><a class="globalfooter__nav-link" href="/{{this.slug}}">{{this.nav}}</a></li>
				{{/if}}
				{{/each}}
				<li class="globalfooter__free-trial"><a class="button" href="/free-trial">Free Trial</a></li>
			</ul>
		</nav>
	</footer>
	{{!-- **TODO: this should load conditionally if page has unique JS only --}}
	{{!-- {{#if data.pageJS}} --}}
	<script type="text/javascript" src="{{@root.meta.themeURI}}/js/{{#if parentPath}}{{parentPath}}{{/if}}{{data.name}}.js"></script>
	{{!-- {{/if}} --}}
	<?php wp_footer(); ?> 