{{#embed "modules/section" name="hero"}}
{{#content "contents" mode="append"}}
			{{#if headline}}
				<h2 class="section-headline hero-headline">{{headline}}</h2>
				{{/if}}
				{{#if intro}}
				<p class="section-intro hero-intro">{{intro}}</p>
				{{/if}}
				{{#if cta}}
				<a class="section-cta hero-cta button" href="{{cta.meta.url}}">{{cta.value}}</a>
				{{/if}}
				{{#if cta2}}
				<a class="section-cta hero-cta button" href="{{cta2.meta.url}}">{{cta2.value}}</a>
				{{/if}}
{{/content}}
{{/embed}}