{{#embed "modules/section" name="hero" extras=extras}}
{{#content "contents" mode="append"}}
			{{#if data.h1}}
				<h1 class="section-headline hero-headline">{{data.h1}}</h1>
				{{/if}}
				{{#if data.hero.intro}}
				<p class="section-intro hero-intro">{{data.hero.intro}}</p>
				{{/if}}
				{{#if data.hero.cta}}
				<a class="section-cta hero-cta button" href="{{data.hero.cta.meta.url}}">{{data.hero.cta.value}}</a>
				{{/if}}
				{{#if data.hero.cta2}}
				<a class="section-cta hero-cta button" href="{{data.hero.cta2.meta.url}}">{{data.hero.cta2.value}}</a>
				{{/if}}
{{/content}}
{{/embed}}