	<section class="section hot-news-section hot-news-section-{{this.id}}{{#if additionalClasses}} {{additionalClasses}}{{/if}}">
					<div class="section-content">
						{{#if this.headline}}
						<h3 class="hot-news-headline">{{this.headline}}</h3>
						{{/if}}
						{{#if this.copy}}
						<p class="hot-news-intro">{{this.copy}}</p>
						{{/if}}
						{{#if this.cta}}
						<a class="hot-news-cta">{{this.cta}}</a>
						{{/if}}
					</div>
				</section>